@{
    ViewBag.Title = "Home";
}

<section class="content-header">
    <h1>
        <i class="fa fa-home"></i> @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> MENU PRINCIPAL</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    
    <hr />

    <div class="row">
        <div class="col-sm-12 col-md-6">            
        </div>    
    </div>
</section>