@model OrganogramaApp.Apresentacao.Models.TelaUnidadeModel

<div class="form-group">
    @Html.LabelFor(model => model.emails[0].endereco, htmlAttributes: new { @class = "control-label", @For = "emails[" + ViewBag.i + "].endereco" })
    @Html.EditorFor(model => model.emails[0].endereco, new { htmlAttributes = new { @class = "form-control", @Name = "emails[" + ViewBag.i + "].endereco" } })
    @Html.ValidationMessageFor(model => model.emails[0].endereco, "", new { @class = "text-danger" })
</div>