@model OrganogramaApp.Apresentacao.ViewModel.UnidadeInsercaoViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Emails[0].Endereco, htmlAttributes: new { @class = "control-label", @For = "emails[" + ViewBag.i + "].endereco" })
    @Html.EditorFor(model => model.Emails[0].Endereco, new { htmlAttributes = new { @class = "form-control", @Name = "emails[" + ViewBag.i + "].endereco" } })
    @Html.ValidationMessageFor(model => model.Emails[0].Endereco, "", new { @class = "text-danger" })
</div>