@model ProcessoEletronicoWebApp.Apresentacao.Models.TelaTipoOrganizacao

@{
    ViewBag.Title = "Tipo de Organização";
    ViewBag.SubTitle = "Cadastrar Tipo de Organização";
}

@using (Ajax.BeginForm("Criar", "TipoOrganizacao",
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "update",
                                    OnSuccess = "onSuccessTipoOrganizacao"
                                },
                                new { @id = "formCadastrarTipoOrganizacao" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.tipoOrganizacao.descricao, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.tipoOrganizacao.descricao, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.tipoOrganizacao.descricao, "", new { @class = "text-danger" })
    </div>
    
    <div id="resultForm" class="form-group text-right">
        <button class="btn btn-default" type="button" data-dismiss="modal">Fechar</button>
        <button class="btn btn-danger" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Cadastrar</button>
    </div>
    
}